{% extends 'core/navbar.html' %}
{% load static %}

{% block title %}
  Olvidé mi contraseña
{% endblock title %}
{% block class_header %}fixed-top header-inner-pages{% endblock class_header %}
{% block content %}

  <section id="hero" class="vh-100">
    <br><br><br><br>
    <div class="container p-3 bg-light regis">
        <div class="d-flex justify-content-center">
            <img src="{%static 'img/candado.png'%}" class="img-register-primary" alt="liater-icon" style="height: 5rem; ">
            </div>
        <div class="register text-center fs-2 mt-2 mb-2 fw-semibold">¿Olvidaste tu contraseña?</div>
        <div class="text-secondary">
            <p> No te preocupes. Escribe tu email y te enviaremos las instrucciones para recuperarla.</p>
        </div>
        <form action="#">
                <input class="form-control p-2 mb-2 text-center" type="email" placeholder="Ej: usuario@mail.com">
                <a href="{% url 'core:login' %}" class="get-started-btn-register text-dark ">Enviar</a>
        </form>
    </div>
  </section>

{% endblock content %}

{% block script %}
{% endblock script %}