{% extends 'core/navbar.html' %}
{% load static %}

{% block title %}
  Home
{% endblock title %}
{% block class_header %}fixed-top{% endblock class_header %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Trazador de curvas I-V</h1>
          <h2>Bienvenido(a). En esta página encontrará información sobre el manejo del trazador de curvas de su caja
            solar.</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <a href="#download" class="get-started-btn scrollto">Conocer más</a>
        </div>
      </div>
    </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= About Section ======= -->

  <main id="main">
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{%static 'img/caja_solar.png'%}" class="img-fluid" alt="trazador">

            <!--<img src="https://lh4.googleusercontent.com/x1OCtdOwETchghFmLgKI38RpQumGZLqMXO1x8iT-p86s0lPf8Kb6GlPvo3FYsSNfSjTnmwFETnuaIiotn4P2bQKZWq-O1AyoyEpzEJKApdQ-AmrXErGhq1cFJgKA_1sCLA=w1280" class="CENy8b" role="img">-->
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Un trazador ergonómico y robusto</h3>
            <p>
              El trazador de curvas IVT2203 está diseñado para caracterizar paneles fotovoltaicos y trazar sus curvas de
              tensión vs corriente, tensión vs potencia y temperatura del panel.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("{%static 'img/fondo2.jpg'%}");' data-aos="fade-right">
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Especificaciones técnicas</h4>
            </div>
            <div class="content d-flex flex-column justify-content-center">
              <ul>
                <li><i class="ri-check-double-line"></i>Voc: 22 V DC máx.</li>
                <li><i class="ri-check-double-line"></i>Isc: 2.7 A DC máx.</li>
                <li><i class="ri-check-double-line"></i>Medición de temperatura: 0 °C -125 °C.</li>
                <li><i class="ri-check-double-line"></i>Resolución de voltaje: 0.01 V.</li>
                <li><i class="ri-check-double-line"></i>Resolución de corriente: 0.01 A.</li>
                <li><i class="ri-check-double-line"></i>Resolución de temperatura 0.1° C.</li>
                <li><i class="ri-check-double-line"></i>Tiempo de estabilización de la lectura de temperatura: 2 a 3
                  minutos.</li>
                <li><i class="ri-check-double-line"></i> Protección de sobretensiones: 47 V DC.</li>
                <li><i class="ri-check-double-line"></i>Protección de sobrecorrientes: 4 A DC.</li>
                <li><i class="ri-check-double-line"></i>Protección de polaridad inversa.</li>
                <li><i class="ri-check-double-line"></i>Número de muestras: 512 por cada canal de corriente y tensión.
                </li>
                <li><i class="ri-check-double-line"></i>Adquisición simultánea de muestras de corriente y voltaje.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <h3>Una aplicación óptima e intuitiva</h3>
          <p> El software del trazador está especialmente diseñado para la obtención de las curvas I-V y P-V, su
            graficación y análisis, exportación e importación de datos y la realización de mediciones de manera
            automatizada.</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>
      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Uso de la aplicación</h2>
          <p>Vista general</p>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{%static 'img/grafica.png'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Aplicación</h4>
              <p>Vista general</p>
              <div class="portfolio-links">
                <a href="{%static 'img/grafica.png'%}" class="portfolio-lightbox" title="vista general"><i
                    class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->

    <div id="services">
      <div class="container">
        <div class="section-title">
          <h2>Uso de la aplicación</h2>
          <p>Ventajas</p>
        </div>
        <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-check-circle"></i>
                <span></span>
                <p class="separator">No requiere instalar software adicional.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-card-image"></i>
                <span></span>
                <p class="separator">Permite graficar curvas de tensión vs corriente y tensión vs potencia.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-thermometer-half"></i>
                <span></span>
                <p class="separator">Obtiene la temperatura leída por el sensor.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-folder-symlink"></i>
                <span></span>
                <p class="separator">Permite importar/exportar datos de las mediciones obtenidas.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-columns-gap"></i>
                <span></span>
                <p class="separator">Permite manipular las gráficas (mover, escalar, eliminar, exportar gráfica, etc).
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-calendar4-week"></i>
                <span></span>
                <p class="separator">Se puede programar la obtención de datos, en intervalos de tiempo automatizados.
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-clock"></i>
                <span></span>
                <p class="separator">Latencia de 5 segundos.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-graph-up-arrow"></i>
                <span></span>
                <p class="separator">Identificación de punto de máxima potencia.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-filetype-csv"></i>
                <span></span>
                <p class="separator">Exportación en formato CSV (con separador decimal punto o coma).</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-gear"></i>
                <span></span>
                <p class="separator">Posee perfil de configuración.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-tools"></i>
                <span></span>
                <p class="separator">En versiones anteriores a Windows 10 se requiere instalar un driver adicional.</p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </div><!-- End Services Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Instalación</h2>
          <p>Software multiplataforma</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-windows"></i></div>
              <h4><a href="">Microsoft Windows</a></h4>
              <p>7/8/8.1/10</p>
              <p>64 bits</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-center mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Linux</a></h4>
              <p>Para distros basados en Debian</p>
              <p>64 bits</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->
{% endblock content %}

{% block script %}
{% endblock script %}