{% extends 'core/navbar.html' %}
{% load static %}

{% block title %}
Log in
{% endblock title %}
{% block class_header %}fixed-top header-inner-pages{% endblock class_header %}
{% block content %}

<section id="hero" class="vh-100">
    <div class="container bg-light p-3 rounded-5 text-secondary shadow-lg mb-20" style="width: 25rem;">
      <div class="d-flex justify-content-center">
      <img src="{%static 'img/login.svg'%}" class="img-register-primary" alt="login-icon" style="height: 5rem; ">
      </div>

      <div class="register text-center fs-2 fw-semibold">
          Acceder
      </div>
      <div class="input-group mt-3">
          <div class="input-group-text bg-secondary color-white border border-3">
              <img src="pv_plotter\core\static\img\user_icon.svg" class="img-register-primary" alt="username-icon" style="height: 1rem;">
          </div>
          <input class="form-control" type="text" placeholder="Nombre de usuario">
      </div>
      <div class="input-group mt-2">
          <div class="input-group-text bg-secondary border border-3">
              <img src="pv_plotter\core\static\img\padlock_icon.svg" class="img-register-primary" alt="padlock-icon" style="height: 1rem;">
          </div>
          <input class="form-control" type="password" placeholder="Contraseña">
      </div>
      <div class="d-flex justify-content-around mt-1.5">
          <div class="d-flex align-items-center gap-1">
              <input class="form-check-input" type="checkbox"> 
              <div class="pt-1" style="font-size: 0.9rem;">
                  Recordar mis datos
              </div>
          </div>
          <div class="pt-1">
              <a href="#" class="text-decoration-none text-black fw-semibold fst-italic" style="font-size: 0.9rem;">¿Olvidaste tu contraseña?</a>
          </div>
      </div>
      <div class="get-started-btn-register w-100 rounded-5 mt-3 text-dark fs-5 fw-semibold shadow-sm" role="button" aria-disabled="true">
          Ingresar
      </div>
      <div class="d-flex gap-1 justify-content-center mt-1">
          <div>
              ¿No tienes una cuenta?
          </div>
          <a href="register.html"class="text-decoration-none text-black fw-semibold fst-italic">Registrarte</a>
      </div>
      <div class="p-3">
          <div class="border-bottom text-center" style="height:0.9rem;">
              <span class="bg-white px-3">o</span>
          </div>
      </div>
      <div class="btn d-flex gap-2 justify-content-center border mt-3 shadow-sm">
          <img src="pv_plotter\core\static\img\google_icon.png" alt="google-icon" style="height: 1.6rem;">
          <div class="fw-semibold text-secondary">
              Acceder con Google
          </div>
      </div>
  </div>
  </section>

{% endblock content %}
{% block script %}

{% endblock script %}