{% extends 'core/navbar.html' %}
{% load static %}

{% block title %}
Log in
{% endblock title %}
{% block class_header %}fixed-top header-inner-pages{% endblock class_header %}
{% block content %}

<section id="hero" class="vh-100">
    <br><br><br><br>
    <div class="container bg-light p-3 rounded-5 text-secondary shadow-lg mb-20" style="width: 25rem;">
      <div class="d-flex justify-content-center">
      <img src="{%static 'img/login.svg'%}" class="img-register-primary" alt="login-icon" style="height: 5rem; ">
      </div>

      <div class="register text-center fs-2 fw-semibold">
          Acceder
      </div>
      <div class="input-group mt-3">
          <div class="input-group-text bg-secondary color-white border border-3">
              <img src="{%static 'img/user_icon.svg'%}" class="img-register-primary" alt="username-icon" style="height: 1rem;">
          </div>
          <input id="email" class="form-control" type="text" placeholder="Nombre de usuario">
      </div>
      <div class="input-group mt-2">
          <div class="input-group-text bg-secondary border border-3">
              <img src="{%static 'img/padlock_icon.svg'%}" class="img-register-primary" alt="padlock-icon" style="height: 1rem;">
          </div>
          <input id="password" class="form-control" type="password" placeholder="Contraseña">
      </div>
      <div class="d-flex justify-content-around mt-1.5">
          <div class="pt-1">
              <a href="{% url 'core:recovery' %}" class="text-decoration-none text-black fw-semibold fst-italic" style="font-size: 0.9rem;">¿Olvidaste tu contraseña?</a>
          </div>
      </div>
      <button class="get-started-btn-register text-dark login" data-url="{% url 'api:login' %}" data-success="{% url 'core:home' %}">Ingresar</button>
      <div class="d-flex gap-1 justify-content-center mt-1">
          <div>
              ¿No tienes una cuenta?
          </div>
          <a href="{% url 'core:register' %}"class="text-decoration-none text-black fw-semibold fst-italic">Registrarte</a>
      </div>
  </div>
  </section>

{% endblock content %}
{% block script %}
<script src="{% static 'js/loginUser.js' %}"></script>
<script>
    $(document).ready(function(){
        $(".login").click(function(){
            loginUser(this)
        })
    })
</script>
{% endblock script %}