{% extends 'core/navbar.html' %}
{% load static %}

{% block title %}
    Regístrese
{% endblock title %}
{% block class_header %}fixed-top header-inner-pages{% endblock class_header %}
{% block content %}
<br><br><br>
<section id="hero" class="vh-100">
    <div class="container bg-light p-3 rounded-5 text-secondary shadow-lg mb-20" style="width: 35rem;">
        <div class="d-flex justify-content-center">
            <img src="{%static 'img/register_icon.svg'%}" class="img-register-primary" alt="register-icon" style="height: 5rem; ">
            </div>
        <div class="register text-center fs-2 fw-bold p-3">Formulario de registro</div>
        <form id="formReg" method="post" action="{% url 'core:register_done' %}" data-url="{% url 'api:register' %}">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Nombre</span>
                    <input name="first_name" type="text" placeholder="Ingrese su nombre" required>
                </div>
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Apellido</span>
                    <input name="last_name" type="text" placeholder="Ingrese su apellido" required>
                </div>
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Nickname</span>
                    <input name="username" type="text" placeholder="Ingrese su nickname" required>
                </div>
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Correo electrónico</span>
                    <input name="email" type="email" placeholder="Ingrese su correo electrónico" required>
                </div>
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Teléfono</span>
                    <input name="phone_number" type="number" placeholder="Ingrese su teléfono" required>
                </div>
                <div class="input-box">
                </div>
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Contraseña</span>
                    <input name="password" type="password" placeholder="Escriba su contraseña" required>
                </div>
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Confirmar contraseña</span>
                    <input name="password2" type="password" placeholder="Confirme su contraseña" required>
                </div>
            </div>
            <div class="gender-details">
                <input type="radio" name="gender" id="dot-1" value="M">
                <input type="radio" name="gender" id="dot-2" value="F">
                <input type="radio" name="gender" id="dot-3" value="N">
                <span class="gender-title fs-7 fw-bold">Género</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Hombre</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Mujer</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Reservado</span>
                    </label>
                </div>
            </div>
            <button class="get-started-btn-register text-dark" type="button">Registrar</button>
        </form>
    </div>
</section>

{% endblock content %}
{% block script %}
<script src="{% static 'js/registerUser.js' %}"></script>
<script>
    $('.get-started-btn-register').click(function() {registerUser()});
</script>
{% endblock script %}