{% extends 'core/navbar.html' %}
{% load static %}

{% block title %}
  Home
{% endblock title %}
{% block class_header %}fixed-top header-inner-pages{% endblock class_header %}
{% block content %}


  <section id="hero" class="vh-100">
    <div class="container bg-light p-3 rounded-5 text-secondary shadow-lg mb-20" style="width: 35rem;">
        <div class="d-flex justify-content-center">
            <img src="{%static 'img/register_icon.svg'%}" class="img-register-primary" alt="register-icon" style="height: 5rem; ">
            </div>
        <div class="register text-center fs-2 fw-semibold">Formulario de registro</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Nombre</span>
                    <input type="text" placeholder="Ingrese su nombre" required>
                </div>
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Nickname</span>
                    <input type="text" placeholder="Ingrese su Nickname" required>
                </div>
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Correo electrónico</span>
                    <input type="text" placeholder="Ingrese su correo electrónico" required>
                </div>
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Teléfono</span>
                    <input type="text" placeholder="Ingrese su teléfono" required>
                </div>
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Contraseña</span>
                    <input type="text" placeholder="Ingrese su contraseña" required>
                </div>
                <div class="input-box">
                    <span class="details fs-7 fw-bold">Confirmar contraseña</span>
                    <input type="text" placeholder="Confirme su contraseña" required>
                </div>
            </div>
            <div class="gender-details">
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3">
                <span class="gender-title fs-7 fw-bold">Género</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Hombre</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Mujer</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Reservado</span>
                    </label>
                </div>
            </div>
            <div class="get-started-btn-register w-100 mt-3 rounded-5 text-dark fs-5 fw-semibold shadow-sm" role="button" aria-disabled="true">
                Registrar
            </div>
        </form>
    </div>
</section>

{% endblock content %}
{% block script %}
{% endblock script %}