{% extends 'core/navbar.html' %}
{% load static %}

{% block title %}
  Restaurar contraseña
{% endblock title %}
{% block class_header %}fixed-top header-inner-pages{% endblock class_header %}
{% block content %}
<section id="hero" class="vh-100">
  <br><br><br><br>
  <div class="container p-3 bg-light regis">
      <div class="d-flex justify-content-center">
          <img src="{%static 'img/candado.png'%}" class="img-register-primary" alt="liater-icon" style="height: 5rem; ">
          </div>
      <div class="register text-center fs-2 mb-2 fw-semibold">Recuperar Contraseña</div>
      <form action="#">
              <input class="form-control p-2 mb-2 text-center" type="password" placeholder="Nueva Contraseña">
              <input class="form-control p-2 mb-3 text-center" type="password" placeholder="Repetir Contraseña">

              <a href="{% url 'core:login' %}" class="get-started-btn-register text-dark ">Restablecer</a>
      </form>
  </div>
</section>
{% endblock content %}

{% block script %}
{% endblock script %}